/* Estilo para el pie de página */
.footer {
  background-color: white;  /* Fondo oscuro */
  color: #2c3e50;               /* Texto blanco */
  text-align: center;         /* Centra el texto */
  padding: 20px;              /* Espaciado alrededor del pie de página */
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}

.footer-content p {
  font-size: 14px;
  margin-bottom: 10px;
}
