.task-card {
  background-color: #e0f7fa;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.task-card h4 {
  margin: 0 0 5px 0;
}

.task-card p {
  margin: 0 0 5px 0;
}

.due-date {
  font-size: 0.8rem;
  color: #555;
}


.task-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.task-content {
  text-align: center;
}

.task-content h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.task-content p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.leer-mas {
  text-decoration: none;
  color: #1976d2;
  font-weight: bold;
}

.leer-mas:hover {
  text-decoration: underline;
}



