.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1976d2;
  color: white;
}

.logo {
  font-weight: bold;
}

.user-icon {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav {
  margin-top: 10px;
  background-color: #2196f3;
  padding: 5px 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.nav a.active {
  text-decoration: underline;
  font-weight: bold;
}

.agenda{
  width: 32px;
  height: 32px;
}

.usuario{
  width: 25px;
  height: 25px;
  color:white;
}

